SmartMap/.metadata/
SmartMap/.project
SmartMap/.settings
SmartMap/gen/
SmartMap/local.properties
*~
SmartMap/.checkstyle
SmartMap/.DS_Store
server/vendor/
server/composer.lock
SmartMap/bin/
SmartMap/.classpath

