.metadata/
.classpath
.project
.settings
bin/
gen/
local.properties
*~
.checkstyle
.DS_Store
server/vendor/
server/composer.lock
SmartMap/bin/
SmartMap/gen/
SmartMap/.classpath
SmartMap/.project
SmartMap/.properties
SmartMap/.metadata/
SmartMap/.settings
SmartMap/local.properties
