SmartMap/.metadata/
SmartMap/hs_err_pid4784.log
SmartMap/.classpath
SmartMap/bin/
SmartMap/.settings
SmartMap/gen/
SmartMap/local.properties
SmartMap/.checkstyle
SmartMap/.DS_Store
server/vendor/
server/composer.lock
server/.buildpath
server/.project
server/.checksytle
server/.settings
server/config.json
server/tests/phpunit.phar
*.class
*~
